input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.formulario-content, .lista-usuarios-content {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 50px;
    border: 1px solid black;
    border-radius: 10px 0px 10px 10px;
}

.nav-tabs-content {
    margin: 0 auto;
    margin-top: 40px;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    border-color: black !important;
    border-bottom: 1px solid transparent !important;
    margin-bottom: -1.5px;
    background-color: #0d6efd;
    color: #fff;
    margin-left: 5px;
} 

.nav-link:hover {
    background-color: #105cdc;
}

.cursor {
    cursor: pointer;
}