<div class="nav-tabs-content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{'disabled active':show==true}" class="nav-link cursor" (click)="show=!show">Formulario</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'disabled active':show==false}" class="nav-link cursor" (click)="show=!show">Usuarios</a>
        </li>
    </ul>
</div>

<div [hidden]="!show" class="formulario-content">
    <p class="text-center fs-2 fw-bold mb-4">REGISTRO DE USUARIOS</p>
    <form [formGroup]="formularioRegistro" class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Nombre</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="name"
            >
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellido</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="lastname"
            >
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre de usuario</label>
            <div class="input-group">
                <span class="input-group-text">@</span>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="username"
                >
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input 
                type="email" 
                class="form-control"
                formControlName="email"
            >
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Teléfono</label>
            <input 
                type="number" 
                class="form-control"
                formControlName="phonenumber"
            >
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox"
                    formControlName="checkbox"
                >
                <label class="form-check-label" for="invalidCheck">
                    Acepto los términos y condiciones
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit" (click)="onSaveForm()">Registrarse</button>
        </div>
    </form>
</div>

<div [hidden]="show" class="lista-usuarios-content">
    <p class="text-center fs-2 fw-bold mb-4">LISTA DE USUARIOS</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i=index">
                <th scope="row">{{i+1}}</th>
                <td class="text-lowercase">{{user.name}}</td>
                <td class="text-lowercase">{{user.lastname}}</td>
                <td class="text-lowercase">@{{user.username}}</td>
                <td class="text-lowercase">{{user.email}}</td>
                <td>{{user.phonenumber}}</td>
            </tr>
        </tbody>
    </table>
</div>