<div class="nav-tabs-content">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{'disabled active':show==true}" class="nav-link cursor" (click)="show=!show">Formulario</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'disabled active':show==false}" class="nav-link cursor" (click)="show=!show">Usuarios</a>
        </li>
    </ul>
</div>

<div [hidden]="!show" class="formulario-content">
    <p class="text-center fs-2 fw-bold mb-4">REGISTRO DE USUARIOS</p>
    <form [formGroup]="formularioRegistro" class="row g-3">
        <div class="col-md-4">
            <label class="form-label">Nombres</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="name"
                [class.is-valid]="!isInvalidField('name')"
                [class.is-invalid]="isInvalidField('name')"
            >
            <div class="invalid-feedback" *ngIf="isInvalidField('name')">
                {{getErrorMessage('name')}}
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Apellidos</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="lastname"
                [class.is-valid]="!isInvalidField('lastname')"
                [class.is-invalid]="isInvalidField('lastname')"
            >
            <div class="invalid-feedback" *ngIf="isInvalidField('lastname')">
                {{getErrorMessage('lastname')}}
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Nombre de usuario</label>
            <div class="input-group">
                <span class="input-group-text">@</span>
                <input 
                    type="text" 
                    class="form-control"
                    formControlName="username"
                    [class.is-valid]="!isInvalidField('username')"
                    [class.is-invalid]="isInvalidField('username')"
                >
                <div class="invalid-feedback" *ngIf="isInvalidField('username')">
                    {{getErrorMessage('username')}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email</label>
            <input 
                type="email" 
                class="form-control"
                formControlName="email"
                [class.is-valid]="!isInvalidField('email')"
                [class.is-invalid]="isInvalidField('email')"
            >
            <div class="invalid-feedback" *ngIf="isInvalidField('email')">
                {{getErrorMessage('email')}}
            </div>
        </div>
        <div class="col-md-6">
            <label class="form-label">Teléfono</label>
            <input 
                type="number" 
                class="form-control"
                formControlName="phonenumber"
                [class.is-valid]="!isInvalidField('phonenumber')"
                [class.is-invalid]="isInvalidField('phonenumber')"
            >
            <div class="invalid-feedback" *ngIf="isInvalidField('phonenumber')">
                {{getErrorMessage('phonenumber')}}
            </div>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox"
                    formControlName="checkbox"
                    [class.is-invalid]="isInvalidField('checkbox')"
                >
                <label class="form-check-label" for="invalidCheck">
                    Acepto los términos y condiciones
                </label>
                <div class="invalid-feedback" *ngIf="isInvalidField('checkbox')">
                    {{getErrorMessage('checkbox')}}
                </div>
            </div>
        </div>
        <div class="col-12">
            <button 
                class="btn btn-primary" 
                type="submit" 
                [disabled]="!formularioRegistro.valid" 
                (click)="onSaveForm()">Registrarse
            </button>
        </div>
    </form>
</div>

<div [hidden]="show" class="lista-usuarios-content">
    <p class="text-center fs-2 fw-bold mb-4">LISTA DE USUARIOS</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Email</th>
            <th scope="col">Teléfono</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i=index">
                <th scope="row">{{i+1}}</th>
                <td class="text-lowercase">{{user.name}}</td>
                <td class="text-lowercase">{{user.lastname}}</td>
                <td class="text-lowercase">@{{user.username}}</td>
                <td class="text-lowercase">{{user.email}}</td>
                <td>{{user.phonenumber}}</td>
            </tr>
        </tbody>
    </table>
</div>